*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /*background: rgb(255,23,102);*/
  background: #2e4fa7;
  background: linear-gradient(to right, #1e3c72, #4b7acb);


  /*background: linear-gradient(to right, #1f2a3d, #39597c);*/
  font-family: 'poppins';
}
