.container-home{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    background: rgb(211, 206, 206);
    width: 650px;
    height: 600px;
    border-radius: 30px;
    padding-bottom: 40px;
}
.header-home{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.topic-selection {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-left: 80px;
    margin-top: 80px;
}
.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 120px;
    border: solid 1px black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.topic:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.topic.science {
    background-image: url('../../Assets/science.png');
    background-size: cover;
    background-position: center;
}
.topic.history {
    background-image: url('../../Assets/history.png'); 
    background-size: cover;
    background-position: center;
}
.topic.maths {
    background-image: url('../../Assets/maths.png'); 
    background-size: cover;
    background-position: center;
}
.topic.sports {
    background-image: url('../../Assets/sports.png'); 
    background-size: cover;
    background-position: center;
}

@media (max-width:1024px){
    .container-home{
        width: 60%;
        height: 500px;
    }
    .header-home{
        gap: 5px;
    }
    .header-home h1{
        font-size: 25px;
    }
    .header-home h2{
        font-size: 22px;
    }
    .topic-selection{
        margin-top: 40px;
        margin-right: 50px;
    }
    .topic{
        height: 100px;
        width: 180px;
    }

}
@media (max-width:800px){
    .container-home{
        width: 60%;
        height: 450px;
        margin-top: 70px;
    }
    .header-home{
        gap: 5px;
    }
    .header-home h1{
        font-size: 23px;
    }
    .header-home h2{
        font-size: 21px;
    }
    .topic-selection{
        margin-top: 50px;
        margin-right: 80px;
    }
    .topic{
        height: 80px;
        width: 150px;
        font-size: 16px;
    }

}
@media (max-width:500px){
    .container-home{
        width: 80%;
        height: 400px;
        margin-top: 80px;
    }
    .header-home{
        gap: 5px;
    }
    .header-home h1{
        font-size: 20px;
    }
    .header-home h2{
        font-size: 18px;
    }
    .topic-selection{
        margin-top: 50px;
        margin-right: 80px;
    }
    .topic{
        height: 60px;
        width: 100px;
        font-size: 15px;
    }

}

